/ Breadcumbs
%ul#breadcrumbs
  %li
    %a{:href => "/", :title => "Back to Homepage"} Back to Home
  %li
    %a{:href => "#"} Projects
  %li
    %a{:href => "#"} Project's Assets
  %li
    %a{:href => "#"} Edit Assets
  %li Current Page
/ /Breadcumbs
