/ Sidebar
%section.sidebar.nested
  / Use class .nested for diferent style
  %h2 Nested Section
  %p Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Maec enas id augue ac metu aliquam.
  %p
    Sed pharetra placerat est suscipit sagittis. Phasellus
    %a{:href => "#"} aliquam
    males uada blandit. Donec adipiscing sem erat.
/ /Sidebar
/ Sidebar
%section.sidebar
  %h2 Paragraph with Separator
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus.
  %p.separator Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis.
  %p.separator Phasellus aliquam malesuada blandit. Donec adipiscing sem erat.
  %a.button-link{:href => "#", :title => "This is my title!"} read more
/ /Sidebar
/ Sidebar
%section.sidebar
  %img{:alt => "Sample Image", :src => "img/sample_image.jpg"}/
  %h2 Lorem Ipsum Header
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis. Phasellus aliquam malesuada blandit. Donec adipiscing sem erat.
  %a.button-link{:href => "#", :title => "This is my title!"} super long read more link
/ /Sidebar
/ Sidebar
%section.sidebar.separator
  %h2 Section with Separator
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat est suscipit sagittis.
  %ul
    %li
      %strong Sed pharetra placerat
    %li
      %em Phasellus aliquam malesuada
    %li Maecenas id augue
    %li
      Consectetur
      %a{:href => "#"} adipiscing
      elit
    %li Lorem ipsum dolor
/ /Sidebar
